@import "tailwindcss";

:root {
  --secondary-family: var(--font-geist-mono);
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-playfair: var(--font-playfair);
}
